<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">联系我们!</h2>
                <hr class="primary">
                <p>准备好开始下一个项目了吗？太好了！给我们发电子邮件或发QQ，我们会尽快回复你!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="tencent://message/?uin={{ site.qq }}&Site=Sambow&Menu=yes">
                <i class="fa fa-qq fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="dingtalk://dingtalkclient/action/sendmsg?dingtalk_id={{ site.dingtak }}">
             <i class="iconfont icon-dingding wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
